blinker==1.9.0
click==8.1.8
colorama==0.4.6
docx2txt==0.9
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
lxml==5.3.2
MarkupSafe==3.0.2
numpy==2.2.4
PyPDF2==3.0.1
python-docx==1.1.2
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.6.0
typing_extensions==4.13.2
Werkzeug==3.1.3
